
{% extends 'layout.html' %}

{% block content %}
{% for country in countries %}
<p>{{country.name}} <a href="country.php?code={{country.code}}" class="btn btn-primary">PlaÄiau</a></p>
{% endfor %}

{% endblock %}